.navbar {
  background-color: #bd84a4;
  font-family: 'Mali', cursive;
}
a.nav-link {
  color: #F8F7FF;
  font-size: 2vh;
}
a.nav-link:hover {
  color: #487ba6;
}
span.navbar-brand {
  color: #F8F7FF;
  font-size: 4vh;
  font-family: 'Send Flowers', cursive;
}