.navbar {
    background-color: #bd84a4;
    font-family: 'Mali', cursive;
    justify-content: center!important;
  }
  .navbar ul {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
  }
  .nav a {
    color: #F8F7FF;
  }
  .headerName {
    color:#F8F7FF;
    font-size: 40px;
    font-family: 'Send Flowers', cursive;
  }