/* Hover styling */
.portImage {
    opacity: 1;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    transition: .5s ease;
    backface-visibility: hidden;
    font-family: 'Mali', cursive;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    padding: 3%;
}
.portImage:hover .image {
    opacity: 0.3!important;
    background-color: #000;
}
.portImage:hover .middle {
    opacity: 1;
}
/* Text and buttons*/
.text {
    font-size: 15px;
}
p.middle.text.card-text {
    margin-bottom: 2%;
}
.button {
    background-color: #9898bc!important;
    border-color: #9898bc!important;
    color: #fff!important;
    margin-right: 3%;
}
/* Mobile styling */
@media screen and (max-width: 539px){
    .middle {
        padding: 0;
    }
    .text {
        font-size: 12px;
    }
}
@media screen and (max-width: 280px){
    div.middle.text.card-title.h5 {
        font-size: small;
    }
    .text {
        font-size: 10px;
    }
    a.button.btn.btn-primary {
        margin-right: 1%;
        font-size: smaller;
    }
}
