.portImage {
    opacity: 1;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    transition: .5s ease;
    backface-visibility: hidden;
    font-family: 'Mali', cursive;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    padding: 3%;
}
.portImage:hover .image {
    opacity: 0.3!important;
    background-color: #000;
}
.portImage:hover .middle {
    opacity: 1;
}
.text {
    font-weight: bold;
    font-size: 15px;
}
.button {
    background-color: #9898bc!important;
    border-color: #9898bc!important;
    color: #fff!important;
    margin-right: 3%;
}
/* Mobile styling */
@media screen and (max-width: 539px){
    .middle {
        padding: 0;
    }
    .text {
        font-weight: bold;
        font-size: 12px;
    }
}
